/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 48%;
  min-width: 20%;
  max-width: 120%;
  margin: 0 auto;
  padding: 0px 30px;
  font-family: 'Secular One', sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
li {
  display: inline-block;
  list-style: none;
}
a {
  text-decoration: none;
  color: #9b9a9a;
}

a:hover {
  color: #c04e58;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
}

/* HEADER */

.header.container{
  padding-bottom: 15px;
}
.menu nav {
  margin-bottom: 25px;
}
.logo {
  display: inline-block;
  width: 100px;
  padding-right: 10px;
  margin-bottom: 20px;
  border-right: 1px solid lightgrey;
}

.menu li {
  text-transform: uppercase;
  margin-right: 6px;
  font-size: 10px;
  font-weight: 400;
}

.jumbotron{
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  height: 285px;
  border-radius: 10px;
  overflow: hidden;
  color: white;
}

.jumbotron .text {
  padding-top: 180px;
  padding-left: 35px;
}

.text h3{
  width: 55%;
  font-size: 20px;
  font-weight: 100;
}

.text p {
  width: 60%;
  font-size: 12px;
}
/* MAIN */

main {
  height: 340px;
  background-color: #0086ff;
  margin-bottom: 5px;
}
.col, .center-xx,.top-text {
  background-color: #abcfe7;
}

.col,.center-xx {
  float:left;
  height: 278px;
}
.top-text{
  height: 40px;
  margin-bottom: 2%;
}

.col-sx{
  width: 18%;
  margin-right: 2%;
}
.col-dx {
  width: 18%;
  margin-left: 2%;
}
.center-xx {
  width: 60%;
}

/* footer */

footer {
  background-color: #8801fe;
  height: 30px;
}